@import "tailwindcss";
@import "uniwind";
@import "heroui-native/styles";
@source './node_modules/heroui-native/lib';

@theme {
  /* Customize base font size */
  --text-base: 15px;

  /* Customize spacing scale */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;

  /* Customize border radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;

  /* Add custom colors */
  --color-background: #f4f2f2;
  --color-primary: #f95555;
  --color-secondary: #2b2b2b;
  --color-secondary-variant: #4a4a4a;
  --color-muted: #bcbcbc;
  --color-background-muted: #fdfaf6;
}
